doctype html
html
    head
        include bootstrap
        title= '知點'
    nav
        div.logo
            a(href='/')
              img(src='images/LOGO.svg')
        div.nav-content
            if (username && authenticated)
                a(href='/me')
                    img.img-circle.me(src='images/me.png')
                a(href='/users/signout',style='margin:10px;') Signout
                a(href='/users/add_article',style='margin:10px;') Add Article
                a(href='/users/profile',style='margin:10px;') Profile
            else
                a(href='/me')
                    img.img-circle.me(src='images/me.png')
                a(href='/users/signin',style='margin:10px;') Login
                a(href='/users/register',style='margin:10px;') Register
                a(href='/users/forget',style='margin:10px;') Forget Password

    body
    div.hero.container-fluid
        div.hero-title
            h1  知點
            h2  給我一個知點，可以撐起全宇宙
            h3  程式｜競賽｜創業 心得筆記
    br
    br
    br
