doctype html
html
    head
        include bootstrap
        title= 'Forget Password'
    nav
        div.logo
            a(href='/')
              img(src='../images/LOGO.svg')
        div.nav-content
            a(href='/users/register',style='margin:10px;') Register
            a(href='/users/forget',style='margin:10px;') Forget Password
    body
        div(style='padding:50px;')
            form(name='login',action='/apis/login', method='post')
                h1 Forget Password
                div
                    p
                        label(style='padding-right:50px;') username or e-mail
                            input(type='text',name='user',placeholder='username@example.com')
                    p
                        span
                            a(href='/users/forget',style='padding-right:175px;') Forget password
                            input(class='btn btn-primary',type='submit',name='submit',value='Forget Password')
