doctype html
html
    head
        include bootstrap

        title= '知點'
    nav.nav-div
        div.head.pull-right
            a(href='/me')
                img.img-circle.me(src='../images/me.png')
        ul.cd-primary-nav
         if (username && authenticated)
            li
                a(href='/users/signout') 登出
            li
                a(href='/users/add_article') 新增文章
            li
                a(href='/users/profile') 文章列表
            li
                a(href='/users/signout') 程式
            li
                a(href='/users/signout') 設計
            li
                a(href='/users/signout') 創業
         else
            li
                a(href='/me')
                    img.img-circle(src='../images/me.png',height='100px;')
            li
                a(href='/')
                  h3  關於我
            li
                a(href='/users/signout')
                  h3 程式
            li
                a(href='/users/signout')
                  h3 設計
            li
                a(href='/users/signout')
                  h3 創業
        div.logo.center-block
            a(href='/')
              img(src='../images/LOGO.svg')
    body
    div.cd-overlay-nav
        span
    div.cd-overlay-content
        span
    a.cd-nav-trigger.pull-left  Menu
        span.cd-icon
    for article in blogs
            div
                div(style='float:left;margin-top:10px;')=article.Username
                div(style='float:right;margin-top:10px;')=article.CreateDate
                br
                div(style='clear:both')=article.Article

                a(href='/apis/delete/'+article.id,style='float:right;margin-top:5px;margin-right:15px;') Delete
                a(href='/users/modify/'+article.id,style='float:right;margin-top:5px;margin-right:20px;') Modify

                hr(style='margin-top:30px;')
