doctype html
html
    head
        include bootstrap

        title= '知點'
    nav.nav-div
        div.head.pull-right
            a(href='/me')
                img.img-circle.me(src='../images/me.png')
        ul.cd-primary-nav
         if (username && authenticated)
            li
                a(href='/users/signout') 登出
            li
                a(href='/users/add_article') 新增文章
            li
                a(href='/users/profile') 文章列表
            li
                a(href='/users/signout') 程式
            li
                a(href='/users/signout') 設計
            li
                a(href='/users/signout') 創業
         else
            li
                a(href='/me')
                    img.img-circle(src='../images/me.png',height='100px;')
            li
                a(href='/')
                  h3  關於我
            li
                a(href='/users/signout')
                  h3 程式
            li
                a(href='/users/signout')
                  h3 設計
            li
                a(href='/users/signout')
                  h3 創業
        div.logo.center-block
            a(href='/')
              img(src='../images/LOGO.svg')
    body
    div.cd-overlay-nav
        span
    div.cd-overlay-content
        span
    a.cd-nav-trigger.pull-left  Menu
        span.cd-icon
    div(style='padding:50px;')
            form(name='login',action='/apis/login', method='post')
                h1 LogIn
                div
                    p
                        label(style='padding-right:50px;') username or e-mail
                            input(type='text',name='user',placeholder='username@example.com')
                    p
                        label(style='padding-right:110px;') password
                            input(type='password',name='passwd')
                    p
                        span
                            a(href='/users/forget',style='padding-right:175px;') Forget password
                            input(class='btn btn-primary',type='submit',name='submit',value='Login')
